:root {
  --main-color: rgb(64, 118, 173, 1);
  --main-color-light: rgb(64, 118, 173, 0.5);
  --accent-color: rgb(118, 160, 152, 1);
  --accent-color-light: rgb(118, 160, 152, 0.5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(
    to bottom right,
    var(--main-color),
    var(--accent-color)
  );
  background-repeat: no-repeat;
  min-height: 100vh;
}
.main-title {
  font-size: 2rem;
  color: #074742;
}

.header,
.task-form {
  min-height: 20vh;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-item {
  padding: 0.5rem;
  font-size: 1.5rem;
  border: none;
  background-color: white;
  outline: none;
}

.btn-task-add {
  color: var(--accent-color);
  cursor: pointer;
}

.btn-task-add:hover {
  color: white;
  background-color: var(--accent-color);
}

.task-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-list {
  list-style: none;
  min-width: 40%;
}

.task-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  font-size: 1.2rem;
  background-color: var(--accent-color);
  transition: 0.5s ease-in-out;
}

.task-description {
  flex: 1;
  padding: 1rem;
}

.task-btn {
  background-color: var(--main-color);
  outline: none;
  border: none;
  font-size: 1.2rem;
  padding: 1.2rem;
  margin-left: 0.1rem;
}

.task-btn-delete {
  background-color: rgb(110, 82, 82);
}

.task-completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fa-solid {
  pointer-events: none;
}

.lost {
  transform: scale(0);
}
